@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body {
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
}

.MobileApp__Content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), #00000033), url(img/background.jpg);
}

.MobileApp__List--Content {
    grid-template-columns: repeat(2, 1fr);
}

.Desing__Parrafo {
    font-family: "Open Sans", sans-serif;
}

.Desing__List--Container {
    grid-template-columns: repeat(2, calc(50% - 10px));
    margin-top: 4%;
    margin-left: 13%;
    margin-right: 13%;
    padding-bottom: 7%;
}

.Desing__Sub--Title,
.Desing__Parrafo--title,
.UX__Parrafo,
.UX__Button,
.Build__sub--Title,
.Build__Parrafo,
.Build__Ul,
.Build__Sub--Parrafo,
.Started__Button,
.About__parrafo,
.About__pie--pagina,
.About__Button,
.Help__Parrafo,
.Help__Parrafo1,
.Help__Pie--Pagina,
.Teams__Parrafo,
.Teams__Pie--pagina,
.Teams__Button,
.Contact__Parrafo--list,
.Layout__Sub--title,
.Layout__Parrafo,
.Form__Label,
.Form__Button,
.Footer,
.MobileApp__Parrafo {
    font-family: "Open Sans", sans-serif;
}

.UX__Button {
    padding: 10px 40px 12px;
}

.UX__Img {
    margin: -500px 80px 0 33%;
}

.Started__Container {
    grid-template-columns: repeat(1, calc(100% - 1px));

}

.Started__Sub--title {
    font-family: "montserrat", sans-serif
}

.Help__Containers {
    grid-template-columns: repeat(3, calc(25% - -5px));
}

.Help__Persona1 {
    background-image: url(//images01.nicepage.com/c461c07a441a5d220e8feb1a/52d82c5900df5c6e8686dcd1/44d5d282-18f7-4295-9493-b2865af9bf3d.jpg);
    border: solid #1847b8 2px;
    border-width: 6px;

}

.Help__Persona2 {
    background-image: url(//images01.nicepage.com/c461c07a441a5d220e8feb1a/d6c11a21917b552d9ffb48bc/44720b5f-d674-4089-b6ec-12c44ea13947.jpg);
    border: solid #1847b8 2px;
    border-width: 6px;

}

.Help__Persona3 {
    background-image: url(//images01.nicepage.com/c461c07a441a5d220e8feb1a/63e47b4c0f7858f381525540/dgrt-min.jpg);
    border: solid #1847b8 2px;
    border-width: 6px;

}

.Help__Text--personas {
    font-family: "Montserrat", sans-serif;
}

.Form__Input,
textarea {
    width: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 5%;
    padding-top: 5%;
}

.Form__Input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
    font-size: 17px;
    padding: 5%
}

@media (max-width: 2561px) {

    .MobileApp__Text {
        padding-left: 10rem;
        margin-left: 23%;
        width: 40%;
    }

    .MobileApp__Title{
        font-size: 6rem;
    }

    .MobileApp__List--Content {
        margin-right: 68%;
    }

    .Desing__Parrafo--title {
        width: 27%;
        margin-left: 36.5%;
    }

    .Desing__List--Container {
        grid-template-columns: repeat(2, calc(40%));
        justify-content: end;
        margin-right: 25%;
    }

    .Desing__img {
        width: 6rem;
    }

    .UX_Text {
        width: 35%;
        height: 600px;
        margin-left: 44rem;
    }

    .UX__Img {
        width: 36rem;
        margin-left: 40rem;
    }

    .Build__Text {
        margin-left: 4%;
    }

    .Build__Title {
        width: 30%;
    }

    .Build__Parrafo {
        width: 46%;
    }

    .circle {
        width: 327px;
        height: 327px;
        margin-left: 48rem;
    }

    .Build__phone {
        margin-left: 49rem;
        width: 18rem;
        height: auto;
    }

    .Started__Container{
        padding-left: 45rem;
        padding-right: 45rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .Started__Svg{
        width: 6rem;
        height: 5rem;
        margin-top: 5rem;
        margin-left: 2rem;
        padding: 1rem;
    }

    .Started__Title{
        padding-left: 4rem;
    }

    .Started__Sub--title{
        padding-left: 4rem;
        width: 80%;
        padding-bottom: 4rem;
    }

    .Started__Button{
        margin-right: 3rem;
    }

    .About__img--mujer{
        width: 18%;
        height: 500px;
        margin-left: 60rem;
    }

    .About__Text{
        margin-left: 85rem;
        width: 30rem;
        height: 550px;
    }
    .About__parrafo{
        width: 87%;
    }
    .About__Button{
        margin-left: 91rem;
    }

    .About__Svg{
        margin-left: 55rem;
    }

    .About__Circle {
        margin-left: 66%;
    }

    .About__img--edificio{
        margin-left: 46rem;
        width: 26rem;
        height: 300px;
    }

    .Help__Parrafo{
        width: 27%;
        margin-left: 37%;
    }

    .Help__Containers {
        grid-template-columns: repeat(3, calc(18% - -5px));
        margin-left: 40rem;
    }

    .Help__Persona1{
        margin-left: 42rem;
    }

    .Help__Persona2{
        margin-left: 20rem;
    }

    .Teams__Img{
        width: 56rem;
        object-position: 0% 38.08%;
        height: 612px;
        margin-left: 55rem;
    }

    .Teams__Cuadro{
        width: 35%;
    }

    .Teams__Text{
        width: 25%;
        height: 370px;
        margin-left: 48rem;
        margin-top: 26rem;
    }

    .Contact__Lists{
        gap: 2rem;
        margin-left: 7rem;
    }
    .Contact__Office,
    .Contact__Number,
    .Contact__Fax,
    .Contact__Email{
        width: 16rem;
        height: 15rem;
    }

    .Layout__Information--content{
        margin-left: 49rem;
    }

    .Layout__Sub--title{
        width: 60%;
    }
    .Layout__Parrafo{
        width: 68%;
    }

    .Form--Contact__Content{
        margin-right: 30rem;
    }
    
    .Footer__Extra{
        padding-bottom: 3rem;
    }
    .Footer__Link {
        margin-left: 65rem;
    }
}

@media (max-width: 1441px) {

    .MobileApp__Text {
        padding-left: 0rem;
        margin-left: 6%;
        width: 40%;
    }

    .MobileApp__Title{
        font-size: 7rem;
    }

    .MobileApp__List--Content {
        margin-left: 50%;
    }

    .Desing__Parrafo--title {
        width: 50%;
        margin-left: 25%;
    }

    .Desing__List--Container {
        width: 100%;
        margin-right: 80%;
        justify-content: start;
      }

    .UX_Text {
        width: 60%;
        height: 640px;
        margin-left: 10rem;
    }

    .UX__Img {
        width: 30rem;
        height: 600px;
        margin-left: 24rem;
        
    }

    .Build__Text {
        margin-left: 6%;
    }

    .Build__Title {
        width: 60%;
    }

    .Build__Parrafo {
        width: 90%;
       
    }

    .Build__Circle,
    .circle {
        width: 400px;
        height: 400px;
        margin-left: 14rem;
    }

    .Build__phone {
        width: 20rem;
        height: 600px;
        margin-left: 17rem;
    }

    .Started__Container{
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .Started__Svg{
        width: 6rem;
        height: 5rem;
        margin-top: 5rem;
        margin-left: 2rem;
        padding: 1rem;
    }

    .Started__Title{
        padding-left: 4rem;
    }

    .Started__Sub--title{
        padding-left: 4rem;
        width: 80%;
        padding-bottom: 4rem;
    }

    .Started__Button{
        margin-right: 3rem;
    }

    .About__img--mujer{
        width: 30%;
        height: 500px;
        margin-left: 27rem;
    }

    .About__Text{
        margin-left: 50rem;
        width: 30rem;
        height: 550px;
    }
    .About__parrafo{
        width: 87%;
    }
    .About__Button{
        margin-left: 56rem;
    }

    .About__Svg{
        margin-left: 23rem;
    }

    .About__Circle {
        margin-left: 80%;
    }

    .About__img--edificio{
        margin-left: 15rem;
        width: 26rem;
        height: 300px;
    }

    .Help__Parrafo{
        width: 50%;
        margin-left: 25%;
    }

    .Help__Containers {
        grid-template-columns: repeat(3, calc(29% - -5px));
        margin-left: 20rem;
    }

    .Help__Persona1{
        margin-left: 42rem;
    }

    .Help__Persona2{
        margin-left: 20rem;
    }

    .Teams__Img{
        width: 56rem;
        object-position: 0% 38.08%;
        height: 612px;
        margin-left: 55rem;
    }

    .Teams__Cuadro{
        width: 35%;
    }

    .Teams__Text{
        width: 25%;
        height: 370px;
        margin-left: 48rem;
        margin-top: 26rem;
    }

    .Contact__Lists{
        gap: 2rem;
        margin-left: 7rem;
    }
    .Contact__Office,
    .Contact__Number,
    .Contact__Fax,
    .Contact__Email{
        width: 16rem;
        height: 15rem;
    }

    .Layout__Information--content{
        margin-left: 49rem;
    }

    .Layout__Sub--title{
        width: 60%;
    }
    .Layout__Parrafo{
        width: 68%;
    }

    .Form--Contact__Content{
        margin-right: 30rem;
    }
    
    .Footer__Extra{
        padding-bottom: 3rem;
    }
    .Footer__Link {
        margin-left: 65rem;
    }
}